[Unit]
Description=sznuper server monitor
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/sznuper start
EnvironmentFile=-/etc/sznuper/.env
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
